/* Add this CSS to your component's CSS file */
.dialog-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*.mat.label {*/
/*  color: rebeccapurple;*/
/*}*/

.mat-form-field {
  width: 100%;
}

.mat-slide-toggle {
  width: 20%; /* Adjust the width as needed */
}

.toggle {
  margin-left: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
