<mat-dialog-content class="dialog-container">
  <h2 class="mat-h2">Get Trainings for Trainer</h2>
  <form [formGroup]="trainingForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-field-container">
      <mat-form-field>
        <mat-icon matPrefix class="my-icon">person</mat-icon>
        <mat-label>Trainer Name</mat-label>
        <input matInput type="text" formControlName="trainerName">
      </mat-form-field>

    </div>

    <div class="form-field-container">
      <mat-form-field>
        <mat-label>Trainees</mat-label>
        <mat-select formControlName="traineeName">
          <mat-option *ngFor="let trainee of traineesList" [value]="trainee.userName">
            {{ trainee.firstName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle class="toggle" formControlName="traineeToggle"></mat-slide-toggle>
    </div>

    <div class="form-field-container">
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input formGroupName="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-slide-toggle class="toggle" formControlName="dateToggle"></mat-slide-toggle>
    </div>


    <button mat-raised-button color="primary" type="submit" mat-dialog-close>Get Trainings</button>
  </form>
</mat-dialog-content>
