button:hover {
  color: #78a8dc;
}
button{
  font-family: Poppins;
}
.logo img {
  height: 48px; /* Set the desired height */
  width: 131px; /* Set the desired width */
}

.logo,.menu{
  display: flex;
  flex: 1;
}
.menu{
  padding-left: 5%;
}


.login {
  display: flex;
  flex: 3;
  align-items: flex-end; /* Align elements to the end */
  padding-left: 60%;
}
