<div class="container">
  <div class="header">
    <h3>Change Password</h3>
  </div>
  <div class="login-form">
    <form (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-icon matPrefix class="my-icon">perm_identity</mat-icon>
        <mat-label>Username</mat-label>
        <input matInput type="text" name="userName" [(ngModel)]="userData.userName" >
      </mat-form-field>
      <mat-form-field>
        <mat-icon matPrefix class="my-icon">lock</mat-icon>
        <mat-label>Enter Old Password</mat-label>
        <input matInput type="password" name="old_password" [(ngModel)]="userData.oldPassword" >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-icon matPrefix class="my-icon">lock</mat-icon>
        <mat-label>Enter new Password</mat-label>
        <input type="password" matInput name="new_password" [(ngModel)]="userData.newPassword">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-icon matPrefix class="my-icon">lock</mat-icon>
        <mat-label>Conform new Password</mat-label>
        <input type="password" matInput name="new_password" [(ngModel)]="userData.conform_password">
      </mat-form-field>
      <button mat-raised-button type="submit" >save</button>

    </form>
  </div>

</div>
