<header>
  <div class="navBar">
    <div class="nav-logo">
      <div class="logo">
        <img src='assets/images/icon.svg' alt="logo" (click)="sendToMyProfile()"/>
      </div>
      <div class="logo-spacer">
        <p (click)="sendToMyProfile()">GYM</p>
      </div>
      <div class="nav-info">
        <button mat-raised-button routerLink="/login" routerLinkActive="active">Log out</button>
<!--        <button mat-raised-button >My Profile</button>-->
        <button mat-raised-button (click)="redirectToMyTrainings()" >View Trainings</button>
        <button mat-raised-button (click)="sendButtonEventToParent()">Add Trainings</button>
      </div>
    </div>

  </div>
</header>


<router-outlet></router-outlet>
