<footer>
  <div class="bottom-container">

    <div class="bottom-first-row">
      <div class="f1-c1">
        <img src='../../../assets/images/icon.svg' alt="logo"/>
        <p class="spacer">GYM</p>
      </div>

      <div class="f1-c2">
        <a routerLink="" style="font-weight: bold">About Us</a>
      </div>

      <div class="f1-c3">
        <a routerLink="" style="font-weight: bold">Contact Us</a>
      </div>

      <div class="f1-c4">
        <a routerLink="" style="font-weight: bold">Terms & Conditions.</a>
      </div>

    </div>

    <div class="bottom-second-row">
      <hr>
    </div>

    <div class="bottom-third-row">


     <div class="details">
       <p>&#169; 2023 Learn, Inc. <b class="dot">.</b> Privacy <b class="dot">.</b> Terms</p>
     </div>


      <div class="social-media">
        <img src='../../../assets/images/facebook.svg' alt="logo" style="margin-right: 50px"/>
        <img src='../../../assets/images/instagram.svg' alt="logo" style="margin-right: 50px"/>
        <img src='../../../assets/images/youtube.svg' alt="logo" style="margin-right: 50px"/>
      </div>
    </div>

  </div>

</footer>
