<app-trainer-nav-bar [trainer]="trainer"></app-trainer-nav-bar>


<div>
  <div class="container">
    <div class="header">
      <h1>Training Registration</h1>
    </div>
    <div class="image-registrationdetails">
      <div class="image_at_trainings">
        <img Src="../../../assets/images/trainer-image.jpg" alt="trainer-registration-image">
      </div>
      <div class="registrationdetails">

        <mat-form-field>
          <mat-icon matPrefix class="my-icon">perm_identity</mat-icon>
          <mat-label>Trainer Username</mat-label>
          <input matInput type="text" name="trainerUsername" [(ngModel)]="trainer.userName" readonly>
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix class="my-icon">person</mat-icon>
          <mat-label>Trainee's Name</mat-label>
          <mat-select name="traineeUserName" [(ngModel)] = "traineeUserName" required>
            <mat-option *ngFor="let trainee of trainer.traineeDetailsList" [value]="trainee.userName">
              {{trainee.userName}}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <mat-form-field>
          <mat-icon matPrefix class="my-icon">email</mat-icon>
          <mat-label>Training Name</mat-label>
          <input matInput type="text" name="trainingName" [(ngModel)]="trainingDetails.trainingName" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Training Date</mat-label>
          <input matInput [matDatepicker]="datePicker" name="trainingDate" [(ngModel)]="trainingDetails.trainingDate" required>
          <mat-datepicker-toggle [for]="datePicker" matSuffix ></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>


        <mat-form-field>
          <mat-icon matPrefix class="my-icon">email</mat-icon>
          <mat-label>Training Type</mat-label>
          <input matInput type="text" name="trainingName" [(ngModel)]="trainer.specialization" readonly>
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix class="my-icon">email</mat-icon>
          <mat-label>Training Duration</mat-label>
          <input matInput type="text" name="trainingDuration" [(ngModel)]="trainingDetails.trainingDuration" required>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="saveTraining()" >submit</button>

      </div>
    </div>
  </div>
</div>
<!--
<div *ngIf="dataRecieved">
  <div>
    <div class="container">
      <div class="header">
        <h1>Registration</h1>
        <h4>Trainer</h4>
      </div>
      <div class="image-registrationdetails">
        <div class="image">
          <img Src="assets/images/trainer-image.jpg" alt="trainer-registration-image">
        </div>
        <div class="registrationdetails">

          <mat-form-field>
            <mat-icon matPrefix class="my-icon">perm_identity</mat-icon>
            <mat-label>Trainer Username</mat-label>
            <input matInput type="text" name="trainerUsername" [(ngModel)]="trainerProfile.userName" readonly>
          </mat-form-field>

          <mat-form-field>
            <mat-icon matPrefix class="my-icon">perm_identity</mat-icon>
            <mat-label>Trainee Username</mat-label>
            <input matInput type="text" name="traineeUsername" [(ngModel)]="trainingDetails.traineeUserName">
          </mat-form-field>


          <mat-form-field>
            <mat-icon matPrefix class="my-icon">email</mat-icon>
            <mat-label>Training Name</mat-label>
            <input matInput type="text" name="trainingName" [(ngModel)]="trainingDetails.trainingName">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Training Date</mat-label>
            <input matInput [matDatepicker]="datePicker" name="trainingDate" [(ngModel)]="trainingDetails.trainingDate">
            <mat-datepicker-toggle [for]="datePicker" matSuffix ></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </mat-form-field>


          <mat-form-field>
            <mat-icon matPrefix class="my-icon">email</mat-icon>
            <mat-label>Training Type</mat-label>
            <input matInput type="text" name="trainingName" [(ngModel)]="trainerProfile.specialization" readonly>
          </mat-form-field>

          <mat-form-field>
            <mat-icon matPrefix class="my-icon">email</mat-icon>
            <mat-label>Training Duration</mat-label>
            <input matInput type="text" name="trainingDuration" [(ngModel)]="trainingDetails.trainingDuration">
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="saveTraining()" >submit</button>

        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!dataRecieved">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
-->
