

.navBar {
  height: 70px;
  color: white;
  padding-left: 2%;
}
.nav-logo {
  display: flex;
  height: 60px;
  width: 120px;
}
.logo {
  height: 60px;
  width: 50px;
  display: flex;
}
.logo-spacer {
  font-size: 20px;
  color: black;
  margin-left: 15%;
  font-weight: bold;
  margin-top: 16%
}


.nav-info {
  position: absolute;
  right: 0;
  height: 60px;
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.nav-info button {
  background-color: black;
  margin-right: 5%;
  color: white;
}



.mat-mdc-table {
  width: fit-content;
  max-height: 500px;
  overflow: auto;

}
.mat-column-name {
  height: 100px;
}

.container {
  height: 80%;
  display: flex;
  flex-direction: column;
  background-image: url("src/assets/images/minions_trainee_profile_image.jpg");
  background-size: cover;
}

.my-account {
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;

}
.student-profile {
  flex-direction: row;
  display: flex;
  flex: 4;
  margin-bottom: 5%;
}

.my-trainings {
  padding-left: 12%;
  padding-right: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}
.pfp-status {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
  /*gap: 25px;*/
}

.student-status {
  margin-left: 25px;
}

.student-status h4 {
  margin-bottom: 1px;
}

.student-status h5 {
  color: forestgreen;
}

.my-account, .my-profile, .my-trainers {
  display: flex;
  flex: 1;
}

.my-profile, .my-trainers {
  flex-direction: column;
  flex:1;
  align-items: flex-start;
  margin-left: 5%;
}

.my-trainers-header {
  display: flex;
  flex-direction: row;
  gap:15px;
  width: 100%;
  margin-bottom: 18px;
}
.my-trainers-header h3{
  margin-right: 45px;
}





.my-trainings button {
  width: 150px;
  height: 42px;
}

h1,h4,h2 {
  font-weight: bold;
  color: black;
}
.my-trainers-header button{
  margin-left: 150px;
}
h3 {
  /*font-weight: bold;*/
  color: grey;
  margin-bottom: 1px;
}

.my-trainers-header h3{
  font-weight: bold;
  color: black;
}

.trainers-table {
  width: 60%;
}
.trainers-table mat-row,mat-cell{
  height: 18px;
  font-size: 12px;
}
.trainers-table {
  width: 60%;
}

.my-trainings p {
  margin-bottom: 50px;
}
/* Adjust the height and font size of mat-row and mat-cell as needed */
.trainers-table mat-row,
.trainers-table mat-cell {
  height: 30px; /* Adjust the height to make it readable */
  font-size: 14px; /* Adjust the font size to make it more legible */
}

/* You can also add additional styles as needed */
.delete-profile button{
  transform: translate(300%, 350%);
}
