<header>
  <div class="navBar">
    <div class="nav-logo">
      <div class="logo">
        <img src='../../../assets/images/icon.svg' alt="logo" routerLink="" routerLinkActive="active"/>
      </div>
      <div class="logo-spacer">
        <p routerLink="" routerLinkActive="active">GYM</p>
      </div>
      <div class="nav-info">
        <button mat-raised-button routerLink="/home/joinUs" routerLinkActive="active">Join Us</button>
        <button mat-raised-button routerLink="/home/login" routerLinkActive="active">Login</button>
      </div>
    </div>

  </div>
</header>

