<app-signin-nav-bar></app-signin-nav-bar>

<div class="container">
  <div class="header">
    <h1>Join Us</h1>
  </div>
  <div class="join-us-content">
    <div class="join-us-as-trainer">
      <mat-card class="example-card">
        <mat-card-content class="content">
          <div class="text">
            <h2>Register as Trainer</h2>
            <h4>A gym trainer is a fitness professional who provides guidance,
              expertise, and support to individuals pursuing their fitness and health goals.They design customized
              workout plans, offer instruction on exercise techniques,
              and motivate clients to achieve their desired fitness outcomes.</h4>
            <button mat-raised-button routerLink="/trainer-registration" routerLinkActive="active">Join Us</button>
          </div>
          <div class="image">
            <img src="../../assets/images/trainer-signup-page-image.png" alt="trainer-registration-image" >
          </div>

        </mat-card-content>
      </mat-card>
    </div>
    <div class="join-us-as-trainee">
      <mat-card class="example-card">
        <mat-card-content class="content">
          <div class="text">
            <h2>Register as Trainee</h2>
            <h4>A gym trainee refers to an individual who is actively participating in fitness or strength training programs.
              They are typically beginners or those working to improve their physical health, and they follow the guidance of
              gym trainers to learn proper exercise techniques and reach their fitness objectives.</h4>
            <button mat-raised-button routerLink="/trainee-registration" routerLinkActive="active">Join Us</button>
          </div>
          <div class="image">
            <img src="../../assets/images/trainee-signup-page-image.png" alt="sample">
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
